# Modules & Libraries
/node_modules
/vendor

# Development
/.idea
/nbproject/
laradock/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
.phpunit.result.cache
.cache

# Envirnoment
.env
.env.prod
.env.stg
/public/hot
/public/storage
/storage/*.key

# Assets builds
/public/assets/

# Documents & Files
/public/docs
/public/tiles
/public/mapproxy/tiles

# OLD ofac application
public/old/
resources/views/admin/national_indicators/n2/vue/test.blade.php
resources/views/admin/national_indicators/n2/modules/test.blade.php
app/Models/NationalIndicators/Modules/N2/Test.php
package-lock.json
!/package-lock.json
