@import "../abstracts/_all.scss";

article {
  padding: 20px 45px 20px 45px;
  &:nth-of-type(1) {
    padding-top: 0;
  }
  &:nth-of-type(even) {
    background-color: $lightestGray;
  }
  h2 {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -45px;
      top: 5px;
      bottom: 5px;
      border-left: 4px solid $darkGreen;
    }
  }
}