@import "../abstracts/all";

// #######################  Banners & panels  #######################
section.highlights{
  color: #fff;
  background: url("#{$image_path}gorille.jpg") right center no-repeat $baseBlue;
  background-size: cover;
  padding: 45px;
  margin-bottom: 80px;
  h3 {
    font-family: $fontFamily-2;
    font-weight: 400;
    line-height: 1.2em;
    color: $darkestGray;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 2px solid $baseGreen;
  }
  p {
    font-family: $fontFamily-2;
    margin: 30px;
    font-size: 1.5em;
    font-weight: normal;
    max-width: 400px;
    line-height: 1.3em;
  }
}

// #######################  Popup Alerts  #######################
.alert-popup{
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  min-width: 400px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: $darkGreen;
  background-color: $lighterGreen;
  border-color: $lightGreen;
  border-radius: 4px;
  padding: 15px;
}
.alert-popup-hide{
  height: 0;
  padding: 0;
}




// ##################  Animation Loader Alerts  ##################

.animated-loader {
  background-image: url("#{$image_path}loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
}

.loading-spinner {
  display: inline-block;
  width: 85px;
  height: 85px;
}
.loading-spinner:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $darkerGreen;
  border-color: $darkerGreen transparent $darkerGreen transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


// #######################  Cards of popup #######################
.info_popup{

    margin-bottom: 10px;
    .row_info_popup{
        display: flex;
        justify-content: space-between;
    }
    .row_info_popup > * {
        flex:1;
        padding: 10px;
        align-items: center;
    }
    .box{
        display: flex;
        
        align-items: center;
        text-align: center;
    }
    .box>*{
        padding: 10px;
    }
    .title{
        display: flex;
        justify-content: center;
    }
    
}


// #######################  Other elements #######################

span.red-list_EX,
span.red-list_EW,
span.red-list_CR,
span.red-list_EN,
span.red-list_VU,
span.red-list_NT,
span.red-list_LC,
span.red-list_DD,
span.red-list_NE,
{
  display: inline-block;
  padding: 3px 10px;
  border-radius: 4px;
  font-weight: 600;
  color: Black;
  &.compact{
    @include text-xs;
    padding: 1px 6px;
  }
}
span.red-list_EX{
  background-color: rgb(0,0,0);
  color: white
}
span.red-list_EW{
  background-color: rgb(84, 35, 68);
  color: white
}
span.red-list_CR{
  background-color: rgb(216, 30, 5);
}
span.red-list_EN{
  background-color: rgb(252, 127, 63);
}
span.red-list_VU{
  background-color: rgb(249, 232, 20);
}
span.red-list_NT{
  background-color: rgb(204, 226, 38);
}
span.red-list_LC{
  background-color: rgb(96, 198, 89);
}
span.red-list_DD{
  background-color: rgb(209, 209, 198);
}
span.red-list_NE{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(50, 50, 50);
}