@import "../abstracts/all";

#admin_homepage{

  h1{
    margin: 0 0 20px 0;
    &:not(:first-child){
      margin-top: 50px;
    }
  }

  .card{
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .tool{
    margin: 10px 8px;
    span.fa{
      margin-right: 5px;
    }
  }

}