@import "../abstracts/all";

.width100{ width: 100%; }
.width60px{ width: 60px; }
.width90px{ width: 90px; }
.width100px{ width: 100px; }
.width110px{ width: 110px; }
.width120px{ width: 120px; }
.width150px{ width: 150px; }
.width200px{ width: 200px; }
.width250px{ width: 250px; }
.width300px{ width: 300px; }
.width350px{ width: 350px; }

.text-2xs{ @include text-2xs;}
.text-xs{ @include text-xs;}
.text-sm{ @include text-sm;}
.text-base{ @include text-base;}
.text-lg{ @include text-lg;}
.text-xl{ @include text-xl;}
.text-2xl{ @include text-2xl;}
.text-3xl{ @include text-3xl;}
.text-4xl{ @include text-4xl;}
.text-5xl{ @include text-5xl;}

//  #############  Foreground color classes  #############

.green_lightest{ color: $lightestGreen; }
.green_lighter{ color: $lighterGreen; }
.green_light{ color: $lightGreen; }
.green_base{ color: $baseGreen; }
.green_dark{ color: $darkGreen; }
.green_darker{ color: $darkerGreen; }
.green_darkest{ color: $darkestGreen; }

.gray_lightest{ color: $lightestGray; }
.gray_lighter{ color: $lighterGray; }
.gray_light{ color: $lightGray; }
.gray_base{ color: $baseGray; }
.gray_dark{ color: $darkGray; }
.gray_darker{ color: $darkerGray; }
.gray_darkest{ color: $darkestGray; }
.white{ color: $white; }
.black{ color: $black; }

.blue_light{ color: $lightBlue; }
.blue_base{ color: $baseBlue; }
.blue_dark{ color: $darkBlue; }

.brown_light{ color: $lightBrown; }
.brown_base{ color: $baseBrown; }
.brown_dark{ color: $darkBrown; }

.red_light{ color: $lightRed; }
.red_base{ color: $baseRed; }
.red_dark{ color: $darkRed; }

.mixed_palette_1{ color: $palette-1; }
.mixed_palette_2{ color: $palette-2; }
.mixed_palette_3{ color: $palette-3; }
.mixed_palette_4{ color: $palette-4; }
.mixed_palette_5{ color: $palette-5; }
.mixed_palette_6{ color: $palette-6; }
.mixed_palette_7{ color: $palette-7; }
.mixed_palette_8{ color: $palette-8; }
.mixed_palette_9{ color: $palette-9; }

.contextual_primary{ color: $contextual-primary; }
.contextual_info{ color: $contextual-info; }
.contextual_success{ color: $contextual-success; }
.contextual_warning{ color: $contextual-warning; }
.contextual_danger{ color: $contextual-danger; }

.contextual_light_primary{ color: $contextual-light-primary; }
.contextual_light_info{ color: $contextual-light-info; }
.contextual_light_success{ color: $contextual-light-success; }
.contextual_light_warning{ color: $contextual-light-warning}
.contextual_light_danger{ color: $contextual-light-danger; }


//  #############  Background colors classes #############

.bg_green_lightest{ background-color: $lightestGreen; }
.bg_green_lighter{ background-color: $lighterGreen; }
.bg_green_light{ background-color: $lightGreen; }
.bg_green_base{ background-color: $baseGreen; }
.bg_green_dark{ background-color: $darkGreen; }
.bg_green_darker{ background-color: $darkerGreen; }
.bg_green_darkest{ background-color: $darkestGreen; }

.bg_gray_lightest{ background-color: $lightestGray; }
.bg_gray_lighter{ background-color: $lighterGray; }
.bg_gray_light{ background-color: $lightGray; }
.bg_gray_base{ background-color: $baseGray; }
.bg_gray_dark{ background-color: $darkGray; }
.bg_gray_darker{ background-color: $darkerGray; }
.bg_gray_darkest{ background-color: $darkestGray; }
.bg_white{ background-color: $white; }
.bg_black{ background-color: $black; }

.bg_blue_light{ background-color: $lightBlue; }
.bg_blue_base{ background-color: $baseBlue; }
.bg_blue_dark{ background-color: $darkBlue; }

.bg_brown_light{ background-color: $lightBrown; }
.bg_brown_base{ background-color: $baseBrown; }
.bg_brown_dark{ background-color: $darkBrown; }

.bg_red_light{ background-color: $lightRed; }
.bg_red_base{ background-color: $baseRed; }
.bg_red_dark{ background-color: $darkRed; }

.bg_mixed_palette_1{ background-color: $palette-1; }
.bg_mixed_palette_2{ background-color: $palette-2; }
.bg_mixed_palette_3{ background-color: $palette-3; }
.bg_mixed_palette_4{ background-color: $palette-4; }
.bg_mixed_palette_5{ background-color: $palette-5; }
.bg_mixed_palette_6{ background-color: $palette-6; }
.bg_mixed_palette_7{ background-color: $palette-7; }
.bg_mixed_palette_8{ background-color: $palette-8; }
.bg_mixed_palette_9{ background-color: $palette-9; }

.bg_contextual_primary{ background-color: $contextual-primary; }
.bg_contextual_info{ background-color: $contextual-info; }
.bg_contextual_success{ background-color: $contextual-success; }
.bg_contextual_warning{ background-color: $contextual-warning; }
.bg_contextual_danger{ background-color: $contextual-danger; }

.bg_contextual_light_primary{ background-color: $contextual-light-primary; }
.bg_contextual_light_info{ background-color: $contextual-light-info; }
.bg_contextual_light_success{ background-color: $contextual-light-success; }
.bg_contextual_light_warning{ background-color: $contextual-light-warning}
.bg_contextual_light_danger{ background-color: $contextual-light-danger; }