@import "../abstracts/all";

html, body {
  font-size: 100%;
  height: 100%;
  width: 100%;
}

body {
  font-size: $base_font-size;
  font-family: $base_font-family;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: $darkerGray;
  line-height: 22px;
}

*.active,
*:active,
*:focus {
  box-shadow: none;
  outline: none !important;
}

// Scrollbar
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: $lighterGray;
}
::-webkit-scrollbar-thumb {
  background: $darkGreen;
}
::-webkit-scrollbar-thumb:hover {
  background: $baseGreen;
}
