@import "../abstracts/all";


/*  #########  Flat buttons  ########  */

.btn-nav{
  font-weight: normal;
  font-size: 0.8rem;
  background-color: $baseGreen;
  color: $white;
  padding: 5px 10px;
  display: inline-block;
  border:1px solid $baseGreen;
  @include transition();

  &.rounded{
    border-radius: 50px !important;
  }

  &.small{
    font-size: 0.7rem;
    padding: 2px 8px;
  }

  &.big{
    font-size: 1rem;
    padding: 10px 20px;
    letter-spacing: .5px;
    i{
      margin-right: 10px;
    }
  }

  &.very_big{
    font-size: 1.5rem;
    padding: 12px 27px;
    letter-spacing: 0.5px;
    i{
      margin-right: 10px;
    }
  }

  &.highlight{
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
    &:hover{
      background-color: white;
    }
  }

  &:hover{
    background-color: white;
    color: $baseGreen;
    text-decoration: none;
    .fas{
      color: $baseGreen;
    }
  }

  &.green-dark{
    background-color: $darkerGreen;
    border-color: $darkerGreen;
    &:hover{
      color: $darkerGreen;
      background-color: white;
      .fas{
        color: $darkerGreen;
      }
    }
  }

  &.red{
    background-color: $baseRed;
    border-color: $baseRed;
    &:hover{
      color: $baseRed;
      background-color: white;
      .fas{
        color: $baseRed;
      }
    }
  }

  &.disabled{
    background-color: $lightGray;
    border-color: $lightGray;
    pointer-events: none;
    &:hover{
      color: $white;
      background-color: $lightGray;
      cursor: not-allowed;
      .fas{
        color: $white;
      }
    }
  }
}

.btn-group-justified{
  button{
    border:1px solid $lightGray;
    border-radius: 30px;
    color: $baseGreen;
    @include transition();
    @include text-sm();
    &:active, &:focus, &:hover, &.active{
      background-color: $lightestGray;
      color: $black;
    }
  }
}

/*  #########  Tag button  ########  */

.bt-tag{
  @extend .tag;
  @include transition();
  &:hover{
    color: $darkestGray !important;
    border: 2px solid $darkestGray;
    text-decoration: none;
  }
}


/*  #########  Actions buttons  ########  */
.act-btn-basic{
  font-weight: bold;
  color: $darkerGray;
  background-color: $lighterGray;
  border-color: $lighterGray;
  &.act-btn-lighter{
    opacity: 0.65;
    background-color: $lightestGray;
    border-color: $lightestGray;
  }
}
.act-btn-basic:hover,
.act-btn-lightgreen{
  font-weight: bold;
  color: Black;
  background-color: $lightGreen;
  border-color: $lightGreen;
}
.act-btn-basic:disabled,
.act-btn-disabled{
  font-weight: bold;
  color: $darkerGray;
  background-color: $lighterGray;
  border-color: $lighterGray;
  opacity: 0.65;
}
.act-btn-basic:active,
.act-btn-basic:active:focus,
.act-btn-darkgreen,
.act-btn-active,
.act-btn-active:active{
  font-weight: bold;
  color: white !important;
  background-color: $darkGreen;
  border-color: $darkGreen;
  outline: none;
  opacity: 1;
}

.act-btn-darkred{
  font-weight: bold;
  color: $white !important;
  background-color: $darkRed;
  border-color: $darkRed;
  outline: none;
  opacity: 1;
  @include transition();
  &:hover{
    background-color: $white;
    border-color: $baseRed;
    color: $darkRed !important;
  }
}
